body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1048px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:55px;
  top:12px;
  width:31px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u2 {
  position:absolute;
  left:120px;
  top:6px;
  width:41px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:48px;
  top:56px;
  width:1005px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u9 {
  position:absolute;
  left:400px;
  top:0px;
  width:120px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u11 {
  position:absolute;
  left:520px;
  top:0px;
  width:80px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u15 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u17 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u19 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2px;
}
#u21 {
  position:absolute;
  left:48px;
  top:127px;
  width:959px;
  height:1px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-8px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:514px;
  top:101px;
  width:60px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:311px;
  top:101px;
  width:60px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u27 {
  position:absolute;
  left:932px;
  top:91px;
  width:54px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:5px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:67px;
  top:97px;
  width:81px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:514px;
  top:12px;
  width:241px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u32 {
  position:absolute;
  left:774px;
  top:12px;
  width:59px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
